MYSQL_ROOT_PASSWORD=1234
MYSQL_DATABASE=openmarket
MYSQL_USER=openmarket
MYSQL_PASSWORD=1234
MYSQL_PORT=3306
TZ=Asia/Seoul

REDIS_PORT=6379

KAFKA_PORT=9092
ZOOKEEPER_PORT=2181

AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY